<div class="panel panel-default">
<div class="panel-heading" >
		<h1>Editing Pin</h1>
</div>

<div class="panel-body">
		<%= render 'form' %>
</div>

<div class="panel-footer">

		<%= link_to pin_path(@pin) do %>
   	<span class="glyphicon glyphicon-zoom-in"></span> Show
 		<% end %> |

	<%= link_to pins_path do %>
		<span class="glyphicon glyphicon-arrow-left"></span>   Back
		<% end %>

</div>




