<div class="jumbotron center">

	<h1>Welcome to my new app !</h1>

   	<p> <%= link_to "Sign up", "#" , class: "btn btn-danger btn-lg" %> 
   		<%=link_to "Login Here" , "#" , class: "btn btn-default btn-lg" %> </p>
   		
</div>